gitignore for wetland inundation repo

# Ignore data and figures folders
data/

# Ignore Jupyter autosave files
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore raster and large output files
*.tif
*.nc
*.h5
*.csv

# ignore notes
self.txt